<div class="container pb-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="conatiner p-5">
      <h1 class="display-4">
        <img class="d-inline" width="64" src="./assets/charteller.png" alt="charteller logo">
        IDAC
      </h1>
      <p class="lead">
        Interactive Description for Annotated Charts
      </p>
      <hr class="my-4">
      <p>Make your charts auditorily navigable with rich supports for annotations!</p>
      <a class="btn btn-primary btn-lg mx-2" href="#examples" role="button">Play with examples</a>
      <a class="btn btn-secondary btn-lg disabled mx-2" href="#" role="button" aria-disabled="true">Start an empty project</a>
      <a class="btn btn-secondary btn-lg disabled" href="#" role="button" aria-disabled="true">Convert from ChartAccent.json</a>
    </div>
  </div>
  <section id="examples">
    <h1>Examples</h1>
    <hr class="mb-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let chart of charts">
        <div class="card">
          <img class="card-img-top" src="{{ chart.src_png }}" alt="annotated chart number 4">
          <div class="card-body bg-light text-center">
            <h5 class="card-text">{{ chart.title }}</h5>
            <a class="card-link" routerLink="/navigate/{{ chart.id }}">Try Navigation</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
