<p (click)="!viewOnly && tag === currentTag ? _editChange(!edit) : ''"
  (mouseover)="hover = true" (mouseout)="hover = false"
  [class.cursor-default]="viewOnly || tag !== currentTag"
  [class.cursor-pointer]="!viewOnly && tag === currentTag"
  [class.text-muted]="!tag.describe().length"
  [class.font-italic]="!tag.describe().length"
  [class.ml-2]="viewOnly"
  [class.bg-light]="hover && tag === currentTag"
  class="font-weight-normal text-unselectable pl-1"
>
  {{ tag.describe().length ? tag.describe() : '(No description)' }}
</p>
