<div class="card">
  <div class="card-header d-flex justify-content-start">
    <div class="form-check">
      <input type="checkbox" class="form-control form-control-lg form-check-input my-auto"
        id="exampleCheck1" checked>
    </div>
    <h3 class="my-auto">Editor's Note</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Text</h5>
    <textarea class="form-control" id="description-rule-textarea" rows="3"></textarea>
    <h5 class="card-title">Position</h5>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary active">prepend</button>
      <button type="button" class="btn btn-secondary">replace</button>
      <button type="button" class="btn btn-secondary">append</button>
    </div>
  </div>
</div>
