<section class="card" #cardSection [class.invisible]="!show">
  <div class="d-flex justify-content-between card-header" style="cursor: move" draggable="true"
    (mousedown)="onPanelMousedown($event)"
    (mouseup)="onPanelMouseup($event)">
    <span>All Properties</span>
    <button type="button" class="close" aria-label="Close" (click)="toggle()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <p class="card-text">Drag and drop properties names</p>
    <ul class="nav nav-tabs">
      <ng-container *ngFor="let ptag of tag.peekableTags()">
        <li class="nav-item">
          <a class="nav-link"
            [class.text-info]="ptag === activeTag"
            [class.active]="ptag === activeTag"
            style="cursor: pointer" (click)="activeTag = ptag">{{ ptag._tagname }}</a>
        </li>
      </ng-container>
    </ul>
    <table class="table table-sm text-center">
      <thead>
        <tr>
          <th scope="col" style="width: 40%">Name</th>
          <th scope="col" style="width: 50%">Value</th>
          <th scope="col" style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prop of activeTag.properties | keyvalue">
          <th class="align-middle" scope="row">
            <h5 style="cursor: pointer" class="m-0" draggable="true" (dragstart)="onPropertyNameDragStart($event)">
              <span class="badge badge-pill badge-dark">
                {{ prop.key }}
              </span>
            </h5>
          </th>
          <td class="align-middle" *ngIf="!isAttribute(prop.key) || !edit[prop.key]">
            <p class="m-0" style="padding-top: 1px; padding-bottom: 1px; border: 2px solid transparent">{{ prop.value() }}</p>
          </td>
          <td class="align-middle" *ngIf="isAttribute(prop.key) && edit[prop.key]">
            <input *ngIf="activeTag.attributes[prop.key].type ==='input'" [(ngModel)]="activeTag.attributes[prop.key].value" class="text-center w-100">
            <div *ngIf="activeTag.attributes[prop.key].type === 'input-select'">
              <div class="btn-group" role="group">
                <button *ngFor="let cand of activeTag.attributes[prop.key].candidates"
                  class="btn btn-sm {{ activeTag.attributes[prop.key].value === cand ? 'btn-primary' : 'btn-secondary' }}"
                  (click)="activeTag.attributes[prop.key].value = cand">
                  {{ cand }}
                </button>
              </div>
              <div *ngIf="activeTag.attributes[prop.key].value !== prop.value()">
                {{ prop.value() }}
              </div>
            </div>
          </td>
          <td class="align-middle">
            <a style="cursor: pointer" *ngIf="isAttribute(prop.key)" (click)="edit[prop.key] = !edit[prop.key]"><i class="fas fa-edit text-secondary text-as-button"></i></a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</section>
