<div class="mb-1" *ngFor="let attr of tag.attributes | keyvalue">
  <div *ngIf="!attr.key.startsWith('_')">
    <div class="d-flex" *ngIf="attr.value.type === 'input'">
      {{ attr.key }}: <input class="border ml-1" style="width: 100%" [(ngModel)]="attr.value.value">
    </div>
    <div *ngIf="attr.value.type === 'input-select'">
      {{ attr.key }}:
      <div class="btn-group" role="group">
        <button *ngFor="let cand of attr.value.candidates"
          class="btn btn-sm {{ attr.value.value === cand ? 'btn-primary' : 'btn-secondary' }}"
          (click)="attr.value.value = cand">
          {{ cand }}
        </button>
      </div>
    </div>
  </div>
</div>
