@import "../../theme.scss";

p {
  margin: 0;
}

:host /deep/ .tagcard .show-on-hover {
  visibility: hidden;
}
:host /deep/ .tagcard:hover .show-on-hover {
  visibility: visible;
}

:host /deep/ .hover-highlighted {
  background-color: lighten($primary, 49%);
  .tagname {
    background-color: lighten($primary, 30%);
    color: white;
  }
}

:host /deep/ .hover i {
  color: #e9ecef !important;
}

:host /deep/ .annotation-drag-over {
  &.drag-merge {
    background-color: lighten($primary, 49%);
  }

  &.drag-reorder {
    background-color: pink;
    &.useless {
      background-color: transparent;
    }
  }
}
:host /deep/ .annotation-drag-hint {
  &.drag-reorder {
    height: 5px;
  }
}
:host /deep/ .annotation-drag {
  opacity: 0.5;
}
