@import "../../theme.scss";

p {
  margin: 0;
}

.tagcard {
  .bar-utils {
    visibility: hidden;
  }
  .bar-utils.active {
    // visibility: visible;
  }
}

.tagcard:hover {
  .bar-utils {
    visibility: visible;
  }
}


.tagname {
  background-color: $gray-200;
}

.tagname.highlighted {
  background-color: lighten($primary, 15%);
  color: white;
}
