<div class="container-fluid p-0">
  <section class="d-flex tagcard" #tagSection>

    <div (click)="_currentTagChange(tag)"
      class="w-100 border-bottom pl-1 pt-3 pb-3 pr-3"
      style="border: 1px solid transparent"
      [class.border]="false || (edit && tag === currentTag)"
      [class.highlighted]="tag === currentTag"
      [class.spec-tag]="!viewOnly"
    >
      <div class="d-flex">
        <div class="flex-grow-1">
          <app-chart-spec-tree-view-tagname
            [tag]="tag"
            [currentTag]="currentTag"
            [siblingIndex]="siblingIndex"
            [siblingLength]="siblingLength"
          ></app-chart-spec-tree-view-tagname>
          <app-chart-spec-tree-view-description
            [viewOnly]="viewOnly"
            [tag]="tag" [currentTag]="currentTag"
            [edit]="edit" [_editChange]="_editChange.bind(this)"
          ></app-chart-spec-tree-view-description>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-end">
          <app-chart-spec-tree-view-bar-utils
            [tag]="tag"
            [edit]="edit"
            [siblingLength]="siblingLength"
            [isCollapsed]="isCollapsed"
            [_collapseToggle]="_collapseToggle.bind(this)"
          ></app-chart-spec-tree-view-bar-utils>
          <div class="mx-2" *ngIf="tag._tagname.length > 5">
            <i class="fas fa-exclamation-circle text-danger"></i>
          </div>
        </div>
      </div>
      <div class="ml-2" *ngIf="edit && tag === currentTag">
        <app-edit-panel [tag]="tag"></app-edit-panel>
      </div>
    </div>
    <div class="" style="width: 2em">
      <app-chart-spec-tree-view-key-hint
      ></app-chart-spec-tree-view-key-hint>
    </div>
  </section>
  <div class="d-flex" *ngIf="!viewOnly && tag.children">
    <span *ngIf="true || collapsable"
      (click)="collapseChildren=!collapseChildren; _currentTagChange(tag.children[0])"
      style="width: 30px; cursor: pointer" class="badge badge-light my-2 pt-2 mr-2"
      [class.invisible]="true || !collapsable">
      <i class="fas text-secondary"
        [class.fa-minus]="collapseChildren"
        [class.fa-plus]="!collapseChildren"></i>
    </span>
    <div class="w-100">
      <div *ngFor="let childTag of tag.children; index as i">
        <app-chart-spec-tree-view
          class="{{ !collapsable || collapseChildren || i === collapseIndex ? '' : 'd-none'}}"
          [(edit)]="edit"
          (collapseToggle)="collapseChildren=!collapseChildren; _currentTagChange(tag.children[0])"
          [tag]="childTag" [isCollapsed]="!collapsable || collapseChildren"
          [siblingIndex]="i" [siblingLength]="tag.children.length" [(parentCollapseIndex)]="collapseIndex"
          [currentTag]="currentTag" (currentTagChange)="_currentTagChange($event)" [indent]="indent + 1"></app-chart-spec-tree-view>
      </div>
    </div>
  <div>
</div>
