@import "~bootstrap/scss/bootstrap.scss";

.styled-scroll::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.styled-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.styled-scroll::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: #333 solid 1px;
}

$ui-background-color: #e9ecef;
$ui-border-color: #ced4da;
$variable1-highlight-color: #0288d1;
$variable2-highlight-color: #c62828;
$operator-highlight-color: #f4511e;
$constant-highlight-color: #303f9f;

@mixin serif {
    font-family: 'Noto Serif', serif;
}

@mixin serif-italic {
    @include serif;
    font-style: italic;
}


.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-text {
  cursor: text;
}

%text-unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.text-unselectable {
  @extend %text-unselectable;
}

.text-as-button {
  @extend %text-unselectable;
  cursor: pointer;
  &:hover {
    color: $primary !important;
  }
}

$navbar-height: 3.5em;


.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

