<section class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">

    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active">{{ tag._tagname }}</a>
      </li>
      <ng-container *ngFor="let ptag of tag._root.children">
        <li *ngIf="ptag._tagname !== tag._tagname" class="nav-item">
          <a class="nav-link text-dark" style="cursor: pointer">{{ ptag._tagname }}</a>
        </li>
      </ng-container>
    </ul>
    <table class="table table-sm text-center">
      <thead>
        <tr>
          <th scope="col" style="width: 40%">Name</th>
          <th scope="col" style="width: 50%">Value</th>
          <th scope="col" style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prop of tag.properties | keyvalue">
          <th class="align-middle" scope="row">
            <h5 style="cursor: pointer" class="m-0" draggable="true" (dragstart)="onDragStart($event)">
              <span class="badge badge-pill badge-dark">
                {{ prop.key }}
              </span>
            </h5>
          </th>
          <td class="align-middle" *ngIf="!isAttribute(prop.key) || !edit[prop.key]">
            <p class="m-0" style="padding-top: 1px; padding-bottom: 1px; border: 2px solid transparent">{{ prop.value() }}</p>
          </td>
          <td class="align-middle" *ngIf="isAttribute(prop.key) && edit[prop.key]">
            <input *ngIf="tag.attributes[prop.key].type ==='input'" [(ngModel)]="tag.attributes[prop.key].value" class="text-center w-100">
            <div *ngIf="tag.attributes[prop.key].type === 'input-select'">
              <div class="btn-group" role="group">
                <button *ngFor="let cand of tag.attributes[prop.key].candidates"
                  class="btn btn-sm {{ tag.attributes[prop.key].value === cand ? 'btn-primary' : 'btn-secondary' }}"
                  (click)="tag.attributes[prop.key].value = cand">
                  {{ cand }}
                </button>
              </div>
              <div *ngIf="tag.attributes[prop.key].value !== prop.value()">
                {{ prop.value() }}
              </div>
            </div>
          </td>
          <td class="align-middle">
            <a style="cursor: pointer" *ngIf="isAttribute(prop.key)" (click)="edit[prop.key] = !edit[prop.key]"><i class="fas fa-edit text-secondary"></i></a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</section>
-->