<div class="container-fluid" *ngIf="chart && chartAccent">
  <div class="row">
    <div class="col-12 border">
    </div>
  </div>
  <div class="row">
    <app-svg-container class="col-4 border" [src]="chart.src_svg"></app-svg-container>
    <div class="col-4 border">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h3>Description</h3>
              <button class="btn btn-sm"
                (click)="state['description-rule-text-edit'] = !state['description-rule-text-edit']">
                {{ state['description-rule-text-edit'] ? 'Done' : 'Edit Rule' }}
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Text</h5>
              <p class="card-text" *ngIf="!state['description-rule-text-edit']">Lorem Ipsum</p>
              <textarea *ngIf="state['description-rule-text-edit']"
                class="form-control" id="description-rule-textarea" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex justify-content-start">
              <div class="form-check">
                <input type="checkbox" class="form-control form-control-lg form-check-input my-auto"
                  id="exampleCheck1" checked>
              </div>
              <h3 class="my-auto">Editor's Note</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Text</h5>
              <textarea class="form-control" id="description-rule-textarea" rows="3"></textarea>
              <h5 class="card-title">Position</h5>
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary active">prepend</button>
                  <button type="button" class="btn btn-secondary">replace</button>
                  <button type="button" class="btn btn-secondary">append</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 border">
    </div>
  </div>
  <!--
  <div class="row">
    <app-chart-spec [chartSpec]="chartSpec"></app-chart-spec>
  </div>
  <div class="row my-4 ">
    <button class="btn btn-info w-100" (click)="render()">Render</button>
  </div>
  <div *ngIf="isRendered" class="row">
    <div class="col-md-4">
      <app-chart-view class="mx-auto" [chartSpec]="chartSpec"></app-chart-view>
    </div>
    <div class="col-md-8">
      <app-navigate [info]="chartDescription"></app-navigate>
    </div>
  </div>
  <div class="row my-4">
    <button class="btn btn-light w-100" disabled>Export</button>
  </div>
  -->
</div>