<div class="container-fluid" *ngIf="chart && chartAccent">
  <div class="row">
    <div class="col-12 border">
    </div>
  </div>
  <div class="row">
    <app-svg-container class="col-4 border" [src]="chart.src_svg"></app-svg-container>
    <div class="col-4 border">
      <div class="row">
        <div class="col-12">
          <app-description-panel></app-description-panel>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-editors-note-panel></app-editors-note-panel>
        </div>
      </div>
    </div>
    <div class="col-4 border">
      <app-properties-panel></app-properties-panel>
    </div>
  </div>
  <!--
  <div class="row">
    <app-chart-spec [chartSpec]="chartSpec"></app-chart-spec>
  </div>
  <div class="row my-4 ">
    <button class="btn btn-info w-100" (click)="render()">Render</button>
  </div>
  <div *ngIf="isRendered" class="row">
    <div class="col-md-4">
      <app-chart-view class="mx-auto" [chartSpec]="chartSpec"></app-chart-view>
    </div>
    <div class="col-md-8">
      <app-navigate [info]="chartDescription"></app-navigate>
    </div>
  </div>
  <div class="row my-4">
    <button class="btn btn-light w-100" disabled>Export</button>
  </div>
  -->
</div>