<div class="container-fluid" *ngIf="chart && chartAccent">
  <div class="row" style="height: 950px">
    <div class="col-4 border" style="overflow-y: scroll">
      <app-chart-spec [chartSpec]="chartSpec" [(currentTag)]="currentTag"></app-chart-spec>
    </div>
    <div class="col-8 border" style="overflow-y: scroll">
      <div class="row border">
        <div class="col-12">
          <app-chart-view [chartSpec]="chartSpec"
            [src]="chart.src_svg" [(currentTag)]="currentTag"></app-chart-view>
        </div>
      </div>
      <div class="row border">
        <div class="col-12">
          <app-filter-view [(currentTag)]="currentTag"></app-filter-view>
        </div>
      </div>
      <!--div class="row border">
        <div class="col-12">
        </div>
      </div-->
      <!--div class="row border">
        <div class="col-12">
          <app-editors-note-panel [tag]="currentTag"></app-editors-note-panel>
        </div>
      </div-->
      <!--div class="row border">
        <div class="col-12">
          <app-properties-panel [tag]="currentTag"></app-properties-panel>
        </div>
      </div-->
    </div>
  </div>
  <!--
  <div class="row">
  </div>
  <div class="row my-4 ">
    <button class="btn btn-info w-100" (click)="render()">Render</button>
  </div>
  <div *ngIf="isRendered" class="row">
    <div class="col-md-4">
      <app-chart-view class="mx-auto" [chartSpec]="chartSpec"></app-chart-view>
    </div>
    <div class="col-md-8">
      <app-navigate [info]="chartDescription"></app-navigate>
    </div>
  </div>
  <div class="row my-4">
    <button class="btn btn-light w-100" disabled>Export</button>
  </div>
  -->
</div>
<app-navigate [(tag)]="currentTag"></app-navigate>
