<div class="container-fluid pb-5">
  <section>
    <div class="d-flex m-3 p-3 align-items-baseline">
      <h1 class="display-3 font-weight-light">Narratable</h1>
      <h1 class="font-weight-light">: Charts along with narrations</h1>
    </div>
  </section>
  <section class="m-3 p-3">
    <h3>Load Data</h3>
    <p>
      To get started, upload your chart (SVG) and the <a routerLink="/">specification</a> (JSON) file.
      Alternatively, you can visit <a href="https://chartaccent.github.io">ChartAccent</a> and upload its outputs.
    </p>
    <p class="text-danger">Currently, only example data are available :(</p>
    <a class="btn btn-secondary btn-lg mx-2 disabled"
      aria-disabled="true" routerLink="/make-chart"
      role="button">Upload previous work</a>
  </section>

  <section id="examples" class="m-3 p-3">
    <h3>Examples</h3>
    <hr class="mb-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let chart of charts; let i = index">
        <div class="card mb-2" (click)="_exampleIdChange(i)">
          <img class="img-fluid" [src]="chart.src_svg">
          <div class="card-body bg-light text-center">
            <h5 class="card-text">{{ chart.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
