<div class="container pb-5">
  <section class="m-3 p-3">
    <h3>Load Data</h3>
    <p>Make a new chart or upload your previous work.</p>
    <p class="text-danger">Currently, only example data are available :(</p>
    <a class="btn btn-secondary btn-lg mx-2 disabled"
      aria-disabled="true" routerLink="/make-chart"
      role="button">Create a new chart</a>
    <a class="btn btn-secondary btn-lg mx-2 disabled"
      aria-disabled="true" routerLink="/make-chart"
      role="button">Upload previous work</a>
  </section>

  <section id="examples" class="m-3 p-3">
    <h3>Examples</h3>
    <hr class="mb-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let chart of charts; let i = index">
        <div class="card mb-2">
          <img class="img-fluid" [src]="chart.src_png">
          <div class="card-body bg-light text-center">
            <h5 class="card-text">{{ chart.title }}</h5>
            <a class="card-link text-primary" style="cursor: pointer" (click)="_exampleIdChange(i)"
            >Play with it</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>