svg {
    border: solid 1px black;
}

.grid line {
    stroke: red;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    z-index: -1;
}

.grid path {
    stroke-width: 0;
}

.focused {
    stroke: black;
    stroke-width: 2px;
}
