<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prop of tag.properties | keyvalue" class="{{ isAttribute(prop.key) ? '' : 'bg-light' }}">
      <th scope="row">{{ prop.key }}</th>
      <td *ngIf="!isAttribute(prop.key)">{{ prop.value() }}</td>
      <td *ngIf="isAttribute(prop.key)">
        <input *ngIf="tag.attributes[prop.key].type ==='input'" [(ngModel)]="tag.attributes[prop.key].value" class="text-center w-100">
        <div *ngIf="tag.attributes[prop.key].type === 'input-select'">
          <div class="btn-group" role="group">
            <button *ngFor="let cand of tag.attributes[prop.key].candidates"
              class="btn btn-sm {{ tag.attributes[prop.key].value === cand ? 'btn-primary' : 'btn-secondary' }}"
              (click)="tag.attributes[prop.key].value = cand">
              {{ cand }}
            </button>
          </div>
          <div *ngIf="tag.attributes[prop.key].value !== prop.value()">
            {{ prop.value() }}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
