<div class="container-fluid" #container>
  <div class="row">
    <div class="col-md-4 p-0">
      <app-chart-spec-tree-view [tag]="chartSpec.title"
        [currentTag]="currentTag" (currentTagChange)="_currentTagChange($event)"></app-chart-spec-tree-view>
      <app-chart-spec-tree-view [tag]="chartSpec.y"
        [currentTag]="currentTag" (currentTagChange)="_currentTagChange($event)"></app-chart-spec-tree-view>
      <app-chart-spec-tree-view [tag]="chartSpec.x"
        [currentTag]="currentTag" (currentTagChange)="_currentTagChange($event)"></app-chart-spec-tree-view>
      <app-chart-spec-tree-view [tag]="chartSpec.legend"
        [currentTag]="currentTag" (currentTagChange)="_currentTagChange($event)"></app-chart-spec-tree-view>
    </div>
    <div class="col-md-4 p-0">
      <app-chart-spec-tree-view [tag]="chartSpec.marks"
        [currentTag]="currentTag" (currentTagChange)="_currentTagChange($event)"></app-chart-spec-tree-view>
    </div>
    <div class="col-md-4 p-0">
      <app-chart-spec-tree-view [tag]="chartSpec.annotations"
        [currentTag]="currentTag" (currentTagChange)="_currentTagChange($event)"></app-chart-spec-tree-view>
    </div>
  </div>
</div>