<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">IDAC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-light">
      <li class="nav-item"
        style="cursor: pointer"
        [class.active]="stage === Stage.load"
        (click)="stageChange.emit(Stage.load)">
        <a class="nav-link">1. Load Data</a>
      </li>
      <li class="nav-item"
        [class.active]="stage === Stage.describe">
        <a class="nav-link" href="#">2. Describe Your Chart</a>
      </li>
      <li class="nav-item dropdown"
        [class.active]="stage === Stage.export">
        <a class="nav-link dropdown-toggle"
          id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          3. Export
        </a>
      </li>
    </ul>
    <ul *ngIf="stage === Stage.describe"
        class="toolbar navbar-nav ml-auto text-light justify-content-end"
    >
      <li class="nav-item dropdown mx-2 align-items-center">
        <h4 class="m-0">
          <i class="fas fa-cog"
            [class.active]="stageState.describe.toolbarSetting"
            (click)="_toggleSetting()"
          ></i>
        </h4>
      </li>
      <li class="nav-item dropdown mx-2 align-items-center">
        <h4 class="m-0">
          <i class="far fa-question-circle"
            [class.active]="stageState.describe.toolbarHelp"
            (click)="_toggleHelp()"
          ></i>
        </h4>
      </li>
    </ul>

  </div>
</nav>
